* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    color: var(--black);
}

body {
    background-color: var(--background-color);
}

.text-danger {
    color: var(--danger-color);
}