.task-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    padding: 1rem;
    margin-top: 1rem;
}
.task {
    position: relative;
    padding: 16px 18px;
    background-color: var(--white);
    border-radius: 6px;
}
.task-options {
    position: absolute;
    top: 18px;
    right: 1rem;
    z-index: 1;
}
.task-options-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.task-options-btn ion-icon {
    pointer-events: none;
}
.task-options-list {
    position: absolute;
    top: 1rem;
    right: 1rem;
    display: none;
    min-width: 200px;
    padding: 6px 0;
    background-color: var(--white);
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
    border: 1px solid var(--border-color);
    border-radius: 10px;
    overflow: hidden;
}
.task-options-list.show {
    display: block;
}
.task-options-item {
    width: 100%;
    padding: 16px 18px;
    font-size: 1rem;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid var(--border-color);
    cursor: pointer;
}
.task-options-item:last-child {
    border-bottom: none;
}
.task-options-item:hover {
    background-color: var(--border-color);
}
.task-title, .task-description, .task-date {
    margin-bottom: 1rem;
}
.task-date {
    display: flex;
    align-items: center;
    gap: 8px;
}
.task-empty {
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
    height: 100%;
    color: #6F6F6F;
}
.task-empty ion-icon {
    font-size: 3rem;
    color: #6F6F6F;
}

/* ================= BUTTON =================== */
.btn-complete {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    width: 100%;
    padding: 16px 18px;
    font-size: 1rem;
    color: var(--secondary);
    background-color: transparent;
    border: 1px solid var(--secondary);
    border-radius: 6px;
    cursor: pointer;
}
.btn-complete:hover {
    color: var(--white);
    background-color: var(--secondary);
}
.btn-complete:active {
    background-color: var(--secondary-active);
}
.btn-complete ion-icon {
    color: var(--secondary);
}
.btn-complete:hover ion-icon {
    color: var(--white);
}

/* ================= MEDIA FOR TABLET =================== */
@media screen and (min-width: 600px) {
    .task-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* ================= MEDIA FOR PC =================== */
@media screen and (min-width: 992px) {
    .task-container {
        grid-template-columns: repeat(3, 1fr);
    }
}